@use "sass:map";

// 色
$color-white: #fff;

// ブレークポイント
$breakpoints: (
  medium: 768,
);
@mixin pc {
  @media screen and (min-width: #{map.get($breakpoints, medium)}px), print {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: #{map.get($breakpoints, medium) - 0.02}px) {
    @content;
  }
}

// clamp（viewport範囲指定）
@function clamp-vw($min, $max, $min-view-port: 320, $max-view-port: 1200) {
  $valiable-part: calc(($max - $min) / ($max-view-port - $min-view-port));
  $constant: calc(($max - $max-view-port * $valiable-part) / 16);
  $min-rem: calc($min / 16 * 1rem);
  $max-rem: calc($max / 16 * 1rem);
  $variable-rem: calc($constant * 1rem);
  $variable-vw: calc(100 * $valiable-part * 1vw);

  @return clamp($min-rem, $variable-rem + $variable-vw, $max-rem);
}
